<!DOCTYPE html>
<html>
  <head>
    <title>Website Scraper</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="title-container"><h1>Webiste Scraper</h1></div>
    <div class="form-action">
      <form>
        <div class="input-action">
          <input type="text" placeholder="Website url..." />
        </div>
        <div class="button-action">
          <button>Add website</button>
        </div>
      </form>
    </div>
    <div class="website-list">
      <ul></ul>
    </div>
    <script type="text/javascript" src="/javascripts/client.js"></script>
  </body>
</html>
