<!DOCTYPE html>
<html>
  <head>
    <title>Website Scraper</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="shortcut icon" href="about:blank" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <section class="app-container">
      <div class="title-container"><h1>Website capture</h1></div>
      <div class="form-action">
        <form>
          <div class="input-action">
            <input
              type="text"
              placeholder="Website name e.g. slack, ebay, skype, heroku"
            />
          </div>
          <div class="button-action">
            <button>Add website</button>
          </div>
        </form>
      </div>
      <div class="websites-list">
        <ul></ul>
      </div>
    </section>
    <script type="text/javascript" src="/javascripts/client.js"></script>
  </body>
</html>
